
::-moz-selection,
::selection {
	background: #b2d7ff;
}

body {
	font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	font-size: 14px;
	line-height: 2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	padding: 0;
	background: #fff;
	color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

a {
	text-decoration: none;
}

.header {
	margin: 50px auto;
}

.title {
	text-align: center;
}

.title a {
	font-size: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #555;
}

.searchbar-input {
	display: block;
	margin: 5px auto 0;
	width: 150px;
	font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	text-align: center;
	border: none;
	background-color: #fff;
	color: #888;
}

.searchbar-input:hover,
.searchbar-input:focus,
.searchbar-input:active {
	outline: none;
	background-color: #fafafa;
	text-decoration: none;
	color: #555;
}

.footer {
	margin-bottom: 15px;
	text-align: center;
	color: #888;
}

.footer a {
	color: #888;
	text-decoration: underline;
}

.list-view {
	margin: 0 20px;
}

.list-view ol,
.list-view ul {
	padding: 0;
	list-style: none;
}

.list-item {
	position: relative;
	margin-bottom: 50px;
}

.item-title {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 16px;
	color: #555;
}

.item-title:hover {
	color: #08c;
}

.item-date {
	display: inline-block;
	font-size: 12px;
	color: #888;
	border-top: 1px solid #ddd;
	padding-top: 12px;
}

.post-view {
	margin: 0 20px 50px;
}

.post-view a:hover {
	border-bottom: 1px dashed #08c;
}

.post-title {
	line-height: 1;
	margin-bottom: 50px;
}

@media (max-width: 767px) {
	.post-title {
		font-size: 1.5em;
	}
}

.post-date {
	float: right;
	font-size: 12px;
	font-weight: 400;
	line-height: 2;
	color: #888;
}

pre {
	background: #f7f7f7 !important;
	padding: 16px;
	overflow-x: auto;
	white-space: pre;
}

code {
	background: #f7f7f7;
	font-family: "Ubuntu Mono", "PT Mono", Consolas, Monaco, Menlo, monospace !important;
}

blockquote {
	margin: 0;
	padding: 0 16px;
	border-left: 4px solid #ddd;
}
